.play {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 100vw;

  &__header {
    display: flex;
    height: 2rem;
    justify-content: center;
    width: 70vh;

    .time {
      color: $black;
      font-size: 2rem;
      font-weight: bold;
      height: fit-content;
      text-align: center;
      width: 50%;
    }
    .score {
      color: $black;
      font-size: 2rem;
      font-weight: bold;
      height: fit-content;
      text-align: center;
      width: 50%;
    }
  }

  &__content {
    height: 70vh;
    width: 70vh;

    .hole {
      overflow: hidden;
      .hole-button {
        background: transparent;
        border: none;
        height: calc(100% - 4vh);
        margin-top: 1vw;
        padding: 0;
        position: relative;
        width: calc(100% - 4vh);

        .mole {
          bottom: 0;
          height: 100%;
          left: 0;
          position: absolute;
          transition: bottom 1s;
          width: 100%;
          z-index: 1;
        }

        .bomb {
          bottom: 0;
          height: 100%;
          left: 0.5vw;
          position: absolute;
          transition: bottom 1s;
          width: 100%;
          z-index: 1;
        }

        .back {
          bottom: -60%;
          height: 100%;
          left: 0;
          position: absolute;
          transform: scaleX(-1);
          width: 100%;
          z-index: 0;
          path {
            fill: rgba($color: $brown, $alpha: 80%);
          }
        }

        .front {
          bottom: -70%;
          height: 100%;
          left: -5%;
          position: absolute;
          width: 100%;
          z-index: 2;
          path {
            fill: $brown;
          }
        }

        .bottom {
          border-radius: 8px;
          bottom: -100%;
          fill: $brown;
          height: 100%;
          left: 0;
          position: absolute;
          width: 100%;
          z-index: 2;
        }

        .hidden {
          bottom: -100%;
        }
      }
    }
  }

  &__button-wrap {
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin-top: 5vh;

    &__start {
      font-weight: bold;
      height: 3rem;
    }
    &__pouse {
      font-weight: bold;
      height: 3rem;
    }
    &__restart {
      font-weight: bold;
      height: 3rem;
    }
    &__stop {
      font-weight: bold;
      height: 3rem;
    }
  }
}
